<!DOCTYPE html>
<html>
  <head>
    <title>Dash application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
  </head>
  <body>
    <body>
      <h1>Simple Dash player</h1>
      <p>This is a simple web application that use the
        <a href="https://github.com/Dash-Industry-Forum/dash.js/wiki">dash.js</a> framework</p>
        <div>
             <video id="videoPlayer" controls></video>
         </div>
         <script>
             (function(){
                 var url = "https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd";
                 var player = dashjs.MediaPlayer().create();
                 player.initialize(document.querySelector("#videoPlayer"), url, true);
             })();
         </script>
  </body>
</html>
