body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #b7b7b7;
  background-color: #003333;
}

a {
  color: #cccccc;
}

video {
   width: 640px;
   height: 360px;
}
